.error{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.error-logo{
    transform: scale(0.3);
   -webkit-transform: scale(0.3);
}
.loading{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    transform: scale(0.3);
    animation-name: spin;
    -webkit-animation-name: spin;}

.animated-load{
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate-reverse;
}
.end-message{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
}

.loading-mini{
    animation-name: spin-mini;
    -webkit-animation-name: spin-mini;
}


@keyframes spin {  
    0% {
        transform:scale(0.3) rotate(0deg); 
        transform-origin: center center 
    }
    
    100%{
        transform: scale(0.3)rotate(360deg); 
        transform-origin: center center 
    }
}


@-webkit-keyframes spin { 0% 
    {
        -webkit-transform:scale(0.3) rotate(0deg); 
        -webkit-transform-origin: center center 
    }
    100%{
        -webkit-transform:scale(0.3) rotate(360deg); 
        -webkit-transform-origin: center center
    }
}

@keyframes spin-mini {  
    0% {
        transform: rotate(0deg); 
        transform-origin: center center 
    }
    
    100%{
        transform: rotate(360deg); 
        transform-origin: center center 
    }
}


@-webkit-keyframes spin-mini { 0% 
    {
        -webkit-transform:rotate(0deg); 
        -webkit-transform-origin: center center 
    }
    100%{
        -webkit-transform:rotate(360deg); 
        -webkit-transform-origin: center center
    }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #content, #about{
        padding-right:3%;
        padding-left:3%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #content, #about{
        padding-right:3%;
        padding-left:3%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #content, #about{
        padding-right:10%;
        padding-left:10%;
}}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #content, #about{
        padding-right:20%;
        padding-left:20%;
}}
