.loading{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    transform: scale(0.3);
    animation: spin 1s ease-in-out infinite;
    animation-direction: alternate-reverse;
}

@keyframes spin { 100% { -webkit-transform: scale(0.3) rotate(360deg); transform:scale(0.3) rotate(360deg); transform-origin: center center } }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #content{
        padding-right:3%;
        padding-left:3%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #content{
        padding-right:3%;
        padding-left:3%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #content{
        padding-right:10%;
        padding-left:10%;
}}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #content{
        padding-right:20%;
        padding-left:20%;
}}
